{% extends 'base.html' %}

{% block head %}
  <title>{{ vehicle.vinAuditData.marketValue.vehicle }} - Vehicle Genius Admin</title>
{% endblock %}

{% block content %}
  <div class="flex flex-col gap-4">
    <div class="border-b-[1px] border-gray-200 pb-2 text-sm">
      <ol class="flex flex-row gap-2">
        <li class="text-gray-400">
          <a href="/">Home</a>
          <span class="ml-2 text-black">/</span>
        </li>
        <li class="text-gray-400">
          Summary Templates
          <span class="ml-2 text-black">/</span>
        </li>
        <li>Current Template</li>
      </ol>
    </div>

    <h1 class="content-header">Current Summary Template</h1>

    <form class="flex flex-col gap-4" method="post" action="/summarytemplates/">
      {% csrf_token %}
      <label class="w-full flex flex-col gap-2">
        <span class="text-lg">System Instructions</span>
        <span class="text-gray-600 text-sm">
          Used to instruct ChatGPT how to behave.  Shorter descriptions
          describing the general "role" of the bot, are more useful.  The
          default of "You are a helpful assistant." is probably what ChatGPT
          uses.
        </span>
        <input type="text" name="systemPrompt" class="w-full" value="{{ system_prompt }}" />
      </label>
      <label class="w-full flex flex-col gap-2">
        <span class="text-lg">Data Template</span>
        <span class="text-gray-600 text-sm">
          The data used to inform the model about the vehicle.
        </span>
        <textarea name="dataTemplate" class="w-full h-[500px] code">{{ data_template }}</textarea>
      </label>
      <label class="w-full flex flex-col gap-2">
        <span class="text-lg">Prompt Template</span>
        <span class="text-gray-600 text-sm">
          The overall prompt, <code>{Data}</code> indicates the result of the
          data template, and <code>{UserMessage}</code> is the message from the
          user.
        </span>
        <textarea name="promptTemplate" class="w-full h-[200px] code">{{ prompt_template }}</textarea>
      </label>
      {% include 'summarytemplates/current_templatecontrols.html' %}
    </form>

  </div>
{% endblock %}

